{% extends 'pp/base.html' %}
{% load static %}

{% block title %}
    Pizza - {{ block.super }}
{% endblock %}

{% block body %}
    {% if member_list %}
        {% for item in member_list %}
            {% for row in item.pizza_list %}
                {% for part in row %}
                    {{ part }} <br>
                {% endfor %} <br>
            {% endfor %}
            <p>Total Price: {{ item.total_cart_price}}$</p>
            <p>{{ item.created_at }}</p>
            ------------------- <br>
        {% endfor %}
    {% else %}
        You purchase History is Empty.
    {% endif %}
    <form action="{% url "pp:index" %}">
        <input type="submit" value="Continue">
    </form>
{% endblock %}