{% extends 'pp/base.html' %}
{% load static %}
{% load image_filters %}

{% block title %}
    Cart - {{ block.super }}
{% endblock %}


{% block body %}
    <div class="row row-cols-1 row-cols-md-3">
        {% for item in cart %}
            <div class="col mb-4">
                <div class="card h-100 noHover" style="width: 70%; margin-left: 20%;">
                    {% with product=item.product %}
                        <div style="height: 60px; margin-left: 5px">Pizza: {{ product.title }}</div>
                        <div style="margin-left: 5px">Price: {{ product.price }}$</div>
                        <img src="{{ item.image.read|make_src }}" class="card-img-top main-content"
                             style="width: 50%;margin-left: 25%;">
                    {% endwith %}
                    <form action="{% url "cart:update_quan" item.product.id %}" method="post">
                        {% csrf_token %}
                        <p style="width: 60px; pointer-events: visible; margin-left: 5px">
                            Quantity {{ item.pizza_form.quantity }}</p>
                    </form>
                    <div>
                        <div style="display: inline-block; width: 50%; margin-left: 5px;">Sum: {{ item.total_price }}$
                        </div>
                        <div style="display: inline-block; width: 15%">
                            <form action="{% url "cart:remove" item.product.id %}" method="post"
                                  style="margin-left: 65%; margin-bottom: 10px;">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger" style="pointer-events: visible;"
                                       value="Remove">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <form action="{% url "cart:accept_order" %}" method="post" style="margin-left: 20%">
        {% csrf_token %}
        <div style="width: 900px;">
            <div style="display: inline-block">
                Phone Number: {{ user_form.phone_num }}
            </div>
            <div style="width: 400px; display: inline-block">
                Address: {{ user_form.address }}
            </div>
        </div>
        {% if cart %}
            <input type="submit" class="btn btn-primary" value="{{ cart.get_total_cart_price }}$" style="width: 120px;">
        {% endif %}
    </form> <br>
{% endblock %}

