{% extends 'pp/base.html' %}
{% load static %}
{% load image_filters %}

{% block title %}
    Cart - {{ block.super }}
{% endblock %}


{% block body %}
    <div class="row row-cols-1 row-cols-md-3">
        {% for item in cart %}
            <div class="col mb-4">
                <div class="card h-100 cart_card">
                    {% with product=item.product %}
                        <div class="cart_title left_five_px">Pizza: {{ product.title }}</div>
                        <div class="left_five_px">Price: {{ product.price }}$</div>
                        {% if item.image|is_exists %}
                            <img src="{{ item.image.read|make_src }}" class="cart_img card-img-top main-content">
                        {% else %}
                            <img src="{% static 'pp/image/not_found.png' %}" class="cart_img card-img-top main-content">
                        {% endif %}
                    {% endwith %}

                    <form action="{% url "cart:update_quantity" item.product.id %}" method="post">
                        {% csrf_token %}
                        <p class="cart_item_q left_five_px">Quantity {{ item.pizza_form.quantity }}</p>
                    </form>

                    <div>
                        <div class="cart_item_tp left_five_px" style="display: inline-block;">
                            Sum: {{ item.total_price }}$
                        </div>
                        <div class="cart_rm_div" style="display: inline-block;">
                            <form action="{% url "cart:remove" item.product.id %}" method="post" class="cart_rm_form">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="Remove">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
    <form action="{% url "cart:accept_order" %}" method="post" style="margin-left: 20%">
        {% csrf_token %}
        <div style="width: 900px;">
            <div style="display: inline-block">
                Phone Number: {{ user_form.phone_num }}
            </div>
            <div style="width: 400px; display: inline-block">
                Address: {{ user_form.address }}
            </div>
            <div style="display: inline-block">
                {% if cart %}
                    <input name="total_price" type="submit" class="btn btn-primary" value="{{ cart.get_total_cart_price }}$"
                           style="width: 120px;">
                {% endif %}
            </div>
        </div>
    </form> <br>
{% endblock %}

