{% extends 'pp/base.html' %}

{% load image_filters %}
{% load static %}

{% block title %}
    Pizza - {{ block.super }}
{% endblock %}

{% block body %}
    <div class="card text-white bg-dark body1 noHover">
        {% if pizza.image|is_exists %}
            <img src="{{ pizza.image.read|make_src }}" class="card-img-top">
        {% else %}
            <img src="{% static 'pp/image/not_found.png' %}" class="card-img-top">
        {% endif %}
        <div class="col mb-4">
            <h4 class="card-title" align="center">{{ pizza.title }}</h4>
            <a href="{% url 'accounts:logout' %}">
                <button type="button" class="btn btn-outline-success" formaction="{% url 'accounts:logout' %}"
                        style="height: 50px; width: 60%; margin-left: 20%; pointer-events: visible">{{ pizza.price }}$
                </button>
            </a>
            <h5 class="card-title" align="left" style="margin-top: 10px;">Описание:</h5>
            <p class="card-text">{{ pizza.body }}</p>
        </div>
    </div>
{% endblock %}