.body {
    width: 65%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.body1 {
    width: 45%;
    height: 45%;
    margin-top: 10px;
    margin-left: 25%;
}

.card:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px grey;
}
.noHover{
    pointer-events: none;
}
.spinner {
    text-align: center;
    display: none;

}

.main-content {
    height: auto;
    width: auto;
}

img {
    height: auto;
}

.a-card {
    text-decoration: none !important;
}

.search-field {
    margin: auto;
}

.user-info {
    font-weight: bold;
    color: rgb(49, 220, 51);
    margin-right: 20px;
}

.hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px grey;
}