/* pizza-cards body */
.body {
    width: 65%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.body1 {
    width: 45%;
    height: 45%;
    margin-top: 10px;
    margin-left: 25%;
}

.card_hover:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px grey;
}

/**/
.main-content {
    height: auto;
    width: 100%;
}

.a-card {
    text-decoration: none !important;
}

.search-field {
    margin: auto;
}

.user-info {
    font-weight: bold;
    color: rgb(49, 220, 51);
    margin-right: 20px;
}

/* buttons */
.add_btn {
    height: 50px;
    width: 60%;
    margin-left: 20%;
    pointer-events: visible;
}

.add_btn:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
}

/* cart */
.cart_img {
    width: 50%;
    margin-left: 25%;
}

.cart_rm_form {
    margin-left: 65%;
    margin-bottom: 10px;
}
.cart_rm_div {
    width: 15%;
}

.cart_item_tp {
    width: 50%;
}

.cart_item_q {
    width: 25%;
}

.cart_card {
    width: 70%;
    margin-left: 20%;
}

.cart_title {
    height: 60px;
}

.left_five_px {
    margin-left: 5px;
}

/* history dropdown */
.history {
    width: 20%;
}